.card_activity:hover {
   transform: scale(1.1);
   box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
   margin-left: 20px;
   margin-top: 15px;
   transition: transform .9s, margin-left .9s, box-shadow 0.9s;
   z-index: 100;
}

.description-activity {
   font-size: small;
   scrollbar-color: #458245 #714826; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin;  /* толщина */

}


