.card_activity:hover {
   transform: scale(1.1);
   box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
   margin-left: 20px;
   margin-top: 15px;
   transition: transform .9s, margin-left .9s, box-shadow 0.9s;
   z-index: 100;
}

.description-activity {
   font-size: small;
   scrollbar-color: #458245 #714826; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin;  /* толщина */

}


::-webkit-scrollbar {
    width: 12px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #ffffff;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #373737;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e9eaec;
}
